<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To BBC World News!</div>
          <div class="intro-heading text-uppercase">Leave your opinion</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Grab articles</a>
        </div>
      </div>
</header>