<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To BBC World News!</div>
      <div class="intro-heading text-uppercase">Leave your opinion</div>
      <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger grab-articles">Grab articles</button>
    </div>
  </div>
</header>

<!-- Article Grid -->
<section class="bg-light" id="article">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Articles</h2>
        <h3 class="section-subheading text-muted">Current top news world-wide</h3>
      </div>
    </div>
    <div class="row" id="articles-in-grid">
      {{#each articles}}
        {{> partials/article_partial }}
      {{/each}}
    </div>
  </div>

</section>