<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To BBC World News!</div>
          <div class="intro-heading text-uppercase">Leave your opinion</div>
          <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger grab-articles" >Grab articles</button>
        </div>
      </div>
</header>